<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/withdraw.css">
    <title>PROTOTYPE</title>
</head>
<body>
<!-- withdraw.html -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form action="{{ url_for('withdraw') }}" method="POST">
    <label for="amount">Amount to Withdraw:</label>
    <input type="number" name="amount" min="1" required>
    <button type="submit">Withdraw</button>
</form>


</body>
</html>